<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script src="https://unpkg.com/epubjs/dist/epub.min.js"></script>

<style>
html,body{
margin:0;
height:100%;
background:#F6EFE7;
}

#viewer{
height:100%;
width:100%;
}
</style>
</head>

<body>

<div id="viewer"></div>

<script>

const params = new URLSearchParams(window.location.search)
const bookUrl = params.get("book")

var book = ePub(bookUrl)

var rendition = book.renderTo("viewer", {
width:"100%",
height:"100%",
flow:"paginated"
})

rendition.display()

</script>

</body>
</html>